body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "visby cf", Sans-serif;
  color: #4a4a4a;
}

.question-form {
  background-color: #f4f5f8;
  height: 497px;
}

.question-form form {
  width: 400px;
  top: 0;
  padding: 12px;
}

.question-form form input {
  height: 50px;
  border: 0;
}

.question-form form input:focus {
  border: 10px solid #f4f5f8;
}

.question-form form select {
  width: 100px;
  color: black;
  border: none;
  height: 50px;
}

.question-form form button {
  background-color: #fcba00;
  color: white;
  font-family: "visby cf", Sans-serif;
  font-size: 30px;
  border: none;
  height: 50px;
  width: 100%;
}

.question-form form .field select {
  width: 100%;
}

.question-form .form-words {
  padding-top: 100px;
  width: 500px;
}

.question-form .form-words .haveanyquestion {
  font-family: "visby cf", Sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: lowercase;
  line-height: 1.04em;
  letter-spacing: -1.5px;
  margin-left: -100px;
}

.question-form .form-words .meet {
  font-family: "visby cf", Sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-transform: lowercase;
  line-height: 1.04em;
  letter-spacing: -3.5px;
}

.question-form .form-words .text {
  width: 440px;
}

.question-form .form-words .telnumberrow input {
  width: 10px;
}

#aboutacademy ul {
  list-style: none;
  display: inline;
}

#aboutacademy h2 {
  font-size: 17px;
  position: relative;
  margin-top: 200px;
}

#aboutacademy a {
  font-family: "visby cf", Sans-serif;
  font-size: 10x;
  font-weight: 300;
  text-transform: lowercase;
  text-decoration: none;
  color: #8f8f8f;
}

#location {
  text-align: center;
}

#location .location {
  height: 100px;
  background-color: #f4f5f8;
}
